<form action='/User/create' method='post'>
   Name:    <input type="text" name="name" data-ng-model='name' value="{{thing.name}}"><br>
   College: <input type="text" name="college" data-ng-model='college' value="{{thing.college}}"><br/>
   Stream:  <input type="text" name="stream" data-ng-model='stream' value="{{thing.stream}}"><br/>
       <input type="submit" value="update">
</form>