<form action='/User/create' method='post'>
   Name:    <input type="text" name="name"><br>
   College: <input type="text" name="college"><br/>
   Stream:  <input type="text" name="stream"><br/>
       <input type="submit" value="save">
</form>